//Card Variables
$card-bg:#FFFFFF !default;
$card-width:290px !default;
$card-box-shadow: 0px 1px 3px 0px #D4D4D5,
0px 0px 0px 1px #D4D4D5 !default;
$card-image-bg:rgba(0, 0, 0, 0.05) !default;
$card-content-border-top:1px solid rgba(34, 36, 38, 0.1) !default;
$card-content-header-font-color:rgba(0, 0, 0, 0.85) !default;
$card-description-font-color:rgba(0, 0, 0, 0.68) !default;
$card-meta-font-color: rgba(0, 0, 0, 0.4) !default;
$card-meta-hover-font-color: rgba(0, 0, 0, 0.87) !default;
$card-extra-border-top: 1px solid rgba(0, 0, 0, 0.05) !default;
$card-extra-font-color :rgba(0, 0, 0, 0.4) !default;
$card-extra-hover-font-color: #1e70bf !default;
$card-raised-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 4px 0px rgba(34, 36, 38, 0.12),
0px 2px 10px 0px rgba(34, 36, 38, 0.15) !default;
$card-raised-hover-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 4px 0px rgba(34, 36, 38, 0.15),
0px 2px 10px 0px rgba(34, 36, 38, 0.25) !default;
$card-link-bg:#FFFFFF !default;
$card-link-box-shadow:0px 1px 3px 0px #BCBDBD,
0px 0px 0px 1px #D4D4D5 !default;
$card-red-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #DB2828,
0px 1px 3px 0px #D4D4D5 !default;
$card-red-hover-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #d01919,
0px 1px 3px 0px #BCBDBD !default;
$card-orange-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #F2711C,
0px 1px 3px 0px #D4D4D5 !default;
$card-orange-hover-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #f26202,
0px 1px 3px 0px #BCBDBD !default;
$card-yellow-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #FBBD08,
0px 1px 3px 0px #D4D4D5 !default;
$card-yellow-hover-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #eaae00,
0px 1px 3px 0px #BCBDBD !default;
$card-olive-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #B5CC18,
0px 1px 3px 0px #D4D4D5 !default;
$card-olive-hover-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #a7bd0d,
0px 1px 3px 0px #BCBDBD !default;
$card-green-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #21BA45,
0px 1px 3px 0px #D4D4D5 !default;
$card-green-hover-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #16ab39,
0px 1px 3px 0px #BCBDBD !default;
$card-teal-box-shadow: 0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #00B5AD,
0px 1px 3px 0px #D4D4D5 !default;
$card-teal-hover-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #009c95,
0px 1px 3px 0px #BCBDBD !default;
$card-blue-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #2185D0,
0px 1px 3px 0px #D4D4D5 !default;
$card-blue-hover-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #1678c2,
0px 1px 3px 0px #BCBDBD !default;
$card-violet-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #6435C9,
0px 1px 3px 0px #D4D4D5 !default;
$card-violet-hover-box-shadow: 0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #5829bb,
0px 1px 3px 0px #BCBDBD !default;
$card-purple-box-shadow: 0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #A333C8,
0px 1px 3px 0px #D4D4D5 !default;
$card-purple-hover-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #9627ba,
0px 1px 3px 0px #BCBDBD !default;
$card-pink-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #E03997,
0px 1px 3px 0px #D4D4D5 !default;
$card-pink-hover-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #e61a8d,
0px 1px 3px 0px #BCBDBD !default;
$card-brown-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #A5673F,
0px 1px 3px 0px #D4D4D5 !default;
$card-brown-hover-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #975b33,
0px 1px 3px 0px #BCBDBD !default;
$card-grey-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #767676,
0px 1px 3px 0px #D4D4D5 !default;
$card-grey-hover-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #838383,
0px 1px 3px 0px #BCBDBD !default;
$card-black-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #1B1C1D,
0px 1px 3px 0px #D4D4D5 !default;
$card-black-hover-box-shadow:0px 0px 0px 1px #D4D4D5,
0px 2px 0px 0px #27292a,
0px 1px 3px 0px #BCBDBD !default;
//Rating
$star-hover-color:#FFB70A !default;
$star-color-active:#FFE623 !default;
//Like
$like-hover-color:#FF2733 !default;
$like-active-color:#FF2733 !default;