$comment-author-font-color:rgba(0, 0, 0, 0.87) !default;
$comment-author-hover-font-color: #1e70bf !default;
$comment-meta-font-color:rgba(0, 0, 0, 0.4) !default;
$comment-text-font-color: !default;
$comment-a-font-color:rgba(0, 0, 0, 0.4) !default;
$comment-a-hover-font-color:rgba(0, 0, 0, 0.8) !default;
$comment-thread-box-shadow:-1px 0px 0px rgba(34, 36, 38, 0.15) !default;