$feed-label-font-color:rgba(0, 0, 0, 0.6) !default;
$feed-date-font-color:rgba(0, 0, 0, 0.4) !default;
$feed-sumamry-font-color: rgba(0, 0, 0, 0.87) !default;
$feed-summary-date-font-color:rgba(0, 0, 0, 0.4) !default;
$feed-summary-extra-font-color:rgba(0, 0, 0, 0.87) !default;
$feed-extra-meta-font-color:rgba(0, 0, 0, 0.6) !default;
$feed-event-like-font-color:#FF2733 !default;
$feed-evento-like-hover-font-color:#EF404A !default;
$feed-event-content-font-color:rgba(0, 0, 0, 0.5) !default;
$feed-event-content-hover-font-color:rgba(0, 0, 0, 0.95) !default;