$item-description-font-color:rgba(0, 0, 0, 0.87) !default;
$item-meta-font-color:rgba(0, 0, 0, 0.6) !default;
$item-header-link-font-color: rgba(0, 0, 0, 0.85) !default;
$item-header-link-hover-font-color:#1e70bf !default;
$item-meta-link-font-color:rgba(0, 0, 0, 0.4) !default;
$item-meta-link-hover-font-color:rgba(0, 0, 0, 0.87) !default;
$item-favorite-hover-font-color:#FFB70A !default;
$item-favorite-active-font-color:#FFE623 !default;
$item-like-hover-font-color:#FF2733 !default;
$item-like-active-font-color:#FF2733 !default;
$item-extra-contet-font-color:rgba(0, 0, 0, 0.4) !default;
$item-link-hover-font-color:#1e70bf !default;