$statistic-label-font-color: rgba(0, 0, 0, 0.87) !default;
$statistic-red:#DB2828 !default;
$statistic-orange:#F2711C !default;
$statistic-yellow:#FBBD08 !default;
$statistic-olive:#B5CC18 !default;
$statistic-green:#21BA45 !default;
$statistic-teal:#00B5AD !default;
$statistic-blue:#2185D0 !default;
$statistic-violet:#6435C9 !default;
$statistic-purple:#A333C8 !default;
$statistic-pink:#E03997 !default;
$statistic-brown:#A5673F !default;
$statistic-grey:#767676 !default;
$statistic-inverted:#FFFFFF !default;
$statistic-inverted-label:rgba(255, 255, 255, 0.9) !default;
$statistic-inverted-red:#FF695E !default;
$statistic-inverted-orange:#FF851B !default;
$statistic-inverted-yellow:#FFE21F !default;
$statistic-inverted-olive:#D9E778 !default;
$statistic-inverted-green:#2ECC40 !default;
$statistic-inverted-teal:#6DFFFF !default;
$statistic-inverted-blue:#54C8FF !default;
$statistic-inverted-violet:#A291FB !default;
$statistic-inverted-purple:#DC73FF !default;
$statistic-inverted-pink:#FF8EDF !default;
$statistic-inverted-brown:#D67C1C !default;
$statistic-inverted-grey:#DCDDDE !default;