//Primary
$primary-color:#2185D0 !default;
$primary-color--hover:#1678c2 !default;
$primary-color--focus: #0d71bb !default;
$primary-color--active: #1a69a4 !default;
$primary-color-active:#1279c6 !default;
$primary-color-active--active:#1279c6 !default;

//Secondary
$secondary-color:#1B1C1D !default;
$secondary-color--hover:#27292a !default;
$secondary-color--focus: #2e3032 !default;
$secondary-color--active: #343637 !default;
$secondary-color-active:#27292a !default;
$secondary-color-active--active:#27292a !default;

//Default
$default-color:#E0E1E2 !default;
$default-font-color:#rgba(0, 0, 0, 0.6) !default;
$default-color--active:#BABBBC !default;
$default-font-color--active:#rgba(0, 0, 0, 0.9) !default;
$default-color--hover:#CACBCD !default;
$default-font-color--hover:#rgba(0, 0, 0, 0.8) !default;
$default-color--focus:#CACBCD !default;
$default-font-color--focus:#rgba(0, 0, 0, 0.8) !default;
$default-active-color:#C0C1C2 !default;
$default-active-font-color:#rgba(0, 0, 0, 0.95) !default;
$default-active-color--active:#C0C1C2 !default;
$default-active-color--hover:#C0C1C2 !default;
$default-active-font-color--hover:#rgba(0, 0, 0, 0.95) !default;
$default-active-color--focus:#BABBBC !default;
$default-active-font-color--focus:#rgba(0, 0, 0, 0.9) !default;
