
// Colors
// Body
$body-bg-color:#FFFFFF !default;
$body-font-color:rgba(0, 0, 0, 0.87) !default;

//Font
$font-color: rgba(0, 0, 0, 0.87) !default;
$secondary-font: rgba(0, 0, 0, 0.4) !default;

//links Variables
$a-font-color:#4183C4 !default;
$a-hover-font-color: #1e70bf !default;





//Basic


$red:#DB2828 !default;
$orange:#F2711C !default;
$yellow:#FBBD08 !default;
$olive:#B5CC18 !default;
$green:#21BA45 !default;
$teal:#00B5AD !default;
$blue:#2185D0 !default;
$violet:#6435C9 !default;
$purple:#A333C8 !default;
$pink:#E03997 !default;
$brown:#A5673F !default;
$grey:#767676 !default;
$white:#FFFFFF !default;
$inverted-label:rgba(255, 255, 255, 0.9) !default;
$inverted-red:#FF695E !default;
$inverted-orange:#FF851B !default;
$inverted-yellow:#FFE21F !default;
$inverted-olive:#D9E778 !default;
$inverted-green:#2ECC40 !default;
$inverted-teal:#6DFFFF !default;
$inverted-blue:#54C8FF !default;
$inverted-violet:#A291FB !default;
$inverted-purple:#DC73FF !default;
$inverted-pink:#FF8EDF !default;
$inverted-brown:#D67C1C !default;
$inverted-grey:#DCDDDE !default;