$import-google-fonts: true !default;
$font-url: 'https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin,latin-ext' !default;
$font-name: 'Lato' !default;
$font-family: $font-name,
'Helvetica Neue',
Arial,
Helvetica,
sans-serif !default;
$icons-font-path: '../../icons' !default;
$flags-image-path: '../../images' !default;
// Body Variables
$body-bg-color:#FFFFFF !default;
$body-font-size: 14px !default;
$body-font-color:rgba(0, 0, 0, 0.87) !default;
//links Variables
$a-font-color:#4183C4 !default;
$a-hover-font-color: #1e70bf !default;